/*
:root {
--color-text-hyperlink:       #55ff00;
--color-shadow-primary:       #00ff04;
--color-shadow-highlight:     #00ff11 ;
--color-underline-active:     #194419;
--color-underline-header:     #22783a;
--color-border-highlight:     #88ff00 ;
--color-border-highlight-alt: #00ff1e;
}*/